body { background: #6374ff; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 51px; display: flex; }
.block-database-0 { color: #294aa6; font-size: 14px; margin-bottom: 5px; }
.block-sms-1 { color: #f49bd1; font-size: 13px; margin-bottom: 5px; }
.block-shipping-2 { color: #6f0703; font-size: 14px; margin-bottom: 5px; }
.block-sms-3 { color: #8df313; font-size: 15px; margin-bottom: 5px; }
.block-sms-4 { color: #7249d1; font-size: 14px; margin-bottom: 5px; }
.block-cart-5 { color: #53534e; font-size: 15px; margin-bottom: 5px; }
.block-search-6 { color: #2b49ea; font-size: 16px; margin-bottom: 5px; }
.block-cache-7 { color: #4be598; font-size: 20px; margin-bottom: 5px; }